<h1>reCAPTCHA v3 Demo</h1>
<button type="button" id="send_button">Send</button>
<hr>
<div id="result"></div>

<script src="https://www.google.com/recaptcha/api.js?render=6LdhDxMmAAAAAACA0Qg7pS1zoN4a-qbF3NJHVwXv"></script>
<script>
  
    function showResult(text) {
        document.querySelector('#result').innerHTML = text;
    }

    function handleClick(token) {
        return function () {
            grecaptcha.execute('6LdhDxMmAAAAAACA0Qg7pS1zoN4a-qbF3NJHVwXv', { action: 'submit' })
                .then(function (newToken) {
                    var data = {
                        recaptchaToken: newToken
                    };

                    fetch('/submit', {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        method: 'post',
                        body: JSON.stringify(data)
                    })
                        .then(response => response.text())
                        .then(text => {
                            showResult(text);
                            console.log(text);
                        })
                        .catch(error => showResult(error));
                });
        }
    }

    document.querySelector('#send_button').addEventListener('click', handleClick());

</script>
