<!DOCTYPE html>
<html>

<body>
    <form method="POST" action="/form">
        <div id="recaptcha-container"></div>
        <button type="submit">Submit</button>
    </form>

    <script src="https://www.google.com/recaptcha/api.js?render=6LdhDxMmAAAAAACA0Qg7pS1zoN4a-qbF3NJHVwXv"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LdhDxMmAAAAAACA0Qg7pS1zoN4a-qbF3NJHVwXv', { action: 'form' }).then(function (token) {
                var recaptchaResponse = document.createElement('input');
                recaptchaResponse.setAttribute('type', 'hidden');
                recaptchaResponse.setAttribute('name', 'recaptchaToken');
                recaptchaResponse.setAttribute('value', token);
                document.getElementById('recaptcha-container').appendChild(recaptchaResponse);
            });
        });
    </script>
</body>

</html>